.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/xbn-distributed-crawler.iml
amazon/__pycache__/__init__.cpython-36.pyc
amazon/__pycache__/dtrobot.cpython-36.pyc
amazon/__pycache__/exceptions.cpython-36.pyc
amazon/__pycache__/extensions.cpython-36.pyc
amazon/__pycache__/middlewares.cpython-36.pyc
amazon/__pycache__/pipelines.cpython-36.pyc
amazon/__pycache__/settings.cpython-36.pyc
amazon/__pycache__/useragent.cpython-36.pyc
amazon/spiders/__pycache__/TSCProductUrls.cpython-36.pyc
amazon/spiders/__pycache__/__init__.cpython-36.pyc
amazon/spiders/__pycache__/amazcart.cpython-36.pyc
amazon/spiders/__pycache__/amazcart2.cpython-36.pyc
amazon/spiders/__pycache__/amzDepartments.cpython-36.pyc
amazon/spiders/__pycache__/bsrProduct.cpython-36.pyc
amazon/spiders/__pycache__/general.cpython-36.pyc
amazon/spiders/__pycache__/keyWordsProducts.cpython-36.pyc
amazon/spiders/__pycache__/productBaseInfo.cpython-36.pyc
amazon/spiders/__pycache__/variationProductBaseInfo.cpython-36.pyc
.gitignore
